page-login {
    background-color: #000000;
    > ion-content {
        background: url('../../assets/imgs/login-cover.jpg');
        background-size: cover;
        background-color: #000000;
        .overlay {
            background-color: rgba(0,0,0,0.667);
            width: 100%;
            height: 100%;
            > .outer {
                margin: 0 auto;
                display: table;
                height: 100%;
                min-width: 300px;
                width: 50%;
                max-width: 400px;
                > .inner {
                    display: table-cell;
                    vertical-align: middle;
                    > .login-card {
                        background-color: white;
                        padding: 14px;
                        ion-card-header {
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
        .scroll-content {
            display: none;
        }
    }
    .button-md {
        margin-top: 24px;
    }
    
    .item-input > .item-inner {
        border-bottom: 1px solid color($colors, light) !important;
    }
}
