// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../assets/fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/montserrat-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../assets/fonts/montserrat-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v10-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  * {
    font-family: 'Montserrat';
    font-weight: 400;
  }

  center {
    display: table;
    height: 100%;
    text-align: left;
  }
  .middle {
    vertical-align: middle;
    display: table-cell;
  }
  
  .full-width {
    width: 100%;
  }

  .toolbar-background {
    background-color: color($blacks, darkest);
}

.toolbar-title {
  color: white;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.split-pane.split-pane-visible > .split-pane-side {
  max-width: 300px;
}
ion-menu {
ion-title {
  height: 45px;
  text-align: center;
}
ion-content.content {
  ion-list {
    .item.item-block {
      color: color($blacks, light);
    }
  }
}
}

ion-card.card {
  margin: 0;
  width: 100%;
  ion-card-header {
      text-align: center;
  }
}

.toolbar-content {
  width: 100%;
  position: absolute;
  left: 0;
  height: 45px;

  .page-title-icon {
    left: 55px;
    position: absolute;
    top: 8px;
  }

}

.scroll-content {
  margin-top: 56px;
}

.full-table {
  height: 100%;
  width: 100%;
  display: table;
}

.action-sheet-group {
  overflow: hidden;
}

.top-level {
  z-index: 2;
}

.bottom-level {
  z-index: 1;
}

.full-width {
  width: 100%;
}

@media (max-width: 400px) {
  .toolbar-title {
    font-size: 1.67rem;
  }
  .toolbar-content #page-title {
    top: 12.9px;
  }
}

@for $i from 1 through 20 {
    .load-step-#{$i} {
        -webkit-animation-delay: $i*0.111s;
        -o-animation-delay: $i*0.111s;
        animation-delay: $i*0.111s;
    }
}

$table-row-height: 50px;

.hover-expand {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.hover-expand * {
  text-overflow: ellipsis;
}

.hover-parent {
  overflow: hidden;
}

ion-card-header {
  font-weight: 700;
  font-size: 1.72rem !important;
}

@media (min-width: 1000px) {
  .hover-expand:hover, .hover-expand:focus {
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.333);
    max-width: 1000px;
    min-height: $table-row-height;
    width: auto;
    line-height: 24px;
    border-radius: 3px;
    z-index: 9;
    overflow: visible;
    box-shadow: 5px 5px 5px 5px solid black;
  }
  .hover-parent:hover {
    overflow: visible;
    position: absolute;
    z-index: 9999;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  button.bar-button-menutoggle-md {
    display: none !important;
  }
}

%table-row {
  transition: 0.333s all ease-in-out;
  min-height: $table-row-height;
  background-color: white;
  padding: 0;
  > ion-col {
    padding: 11px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    ion-icon {
        font-size: 2.4rem;
    }
    ion-icon.ion-md-checkmark-circle {
        color: color($material, green);
    }
    ion-icon.ion-md-alert {
        color: color($material, red);
    }
  }
  > ion-col.icon-column {
    max-width: 50px;
    center {
      text-align: center;
    }
  }
  > ion-col.borders {
    border-bottom: 1px solid $line-color;
    border-right: 1px solid $line-color;
  }
  > ion-col.no-background {
    background-color: white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
  > ion-col:last-child {
    border-right: 0;
  }
}

%table-row-cases {
  > ion-row:nth-child(2n + 1) {
    background-color: color($colors, light);
  }
  > ion-row:hover {
    background-color: color($whites, lightdarkened);
  }
}

%table-border-top {
  > ion-row:first-child {
    border-top: 1px solid $line-color;
  }
}

%table-header {
  > ion-row:first-child {
    background-color: color($blacks, dark);
    border-bottom: 0;
    //border-left: 1px solid color($blacks, dark);
    //border-right: 1px solid color($blacks, dark);
    color: white;
    > ion-col {
        border-right: 1px solid color($blacks, light);
        * {
            font-weight: 700;
        }
    }
  }
}