<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="list"></ion-icon>
    </button>
    <div class="page-icon middle">
      <ion-icon name="{{ page.icon }}"></ion-icon>
    </div>
    <div class="page-title middle">
      <ion-title>{{ page.title }}</ion-title>
    </div>
  </ion-navbar>
</ion-header>